
.first{
    grid-area: f;
}
.second{
    grid-area: s;
}
@media (min-width:1300px){

    .recipes {
        grid-area: recipes;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
            "f s"
    }

}


@media (800px <= width < 1300px){

    .recipes {
        grid-area: recipes;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
            "f s"
    }
    

}
@media (width < 800px){
    
    .recipes {
        grid-area: recipes;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "f"
            "s"
    }

}