.header a {
  text-decoration: none;
}
#lk {
  font-weight: bold;
  text-decoration: none;
}
#lk:hover {
  text-decoration: none;
}
.cabinet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px);
}
.cabinet-section {
  background-color: var(--color-primary-a0);
  border-radius: 20px;
  outline: 5px solid var(--color-primary-a30);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 5px 5px 10px 3px var(--color-primary-a60);
}
#cabinet-section {
  max-width: 700px;
  padding: 30px;
}
#cabinet-section h2 {
  font-size: 28px;
  color: var(--color-primary-a90);
  text-align: center;
  text-shadow: 1px 1px 1px var(--color-primary-a0);
}
#recipes-section, #add-recipe-section {
  margin-top: 20px;
}
#recipes-section h3, #add-recipe-section h3 {
  font-size: 22px;
  color: var(--color-primary-a90);
  text-align: center;
}
.recipe {
  border: 1px solid var(--color-primary-a30);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: var(--color-primary-a40);
}
.recipe h4 {
  font-size: 18px;
  color: var(--color-primary-a90);
  margin-bottom: 10px;
}
.recipe p {
  font-size: 16px;
  color: var(--color-primary-a90);
  margin: 5px 0;
}
.recipe img {
  max-width: 100%;
  border-radius: 10px;
}
#recipe-form label {
  font-size: 18px;
  color: var(--color-primary-a90);
  margin: 5px 0;
  width: 100%;
  max-width: 100%;
  display: block;
}
#recipe-form input, #recipe-form textarea {
  font-size: 16px;
  padding: 12px;
  width: 100%;
  margin: 5px 0;
  border: 1px solid var(--color-primary-a30);
  border-radius: 10px;
  background-color: var(--color-primary-a40);
  color: var(--color-primary-a90);
  font-family: Verdana, Geneva, sans-serif;
}
#recipe-form textarea {
  resize: vertical;
  min-height: 100px;
}
#add-ingredient, #submit, #add-step {
  font-size: 16px;
  padding: 12px 24px;
  background-color: var(--color-primary-a30);
  color: var(--color-primary-a90);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}
#add-ingredient:hover, #submit:hover, #add-step:hover {
  background-color: var(--color-primary-a50);
}
.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  margin-bottom: 20px;
}
.category-btn {
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid var(--color-primary-a30);
  color: var(--color-primary-a90);
  background-color: var(--color-primary-a0);
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
  font-family: Verdana, Geneva, sans-serif;
}
.category-btn.active {
  background-color: var(--color-primary-a50);
  color:var(--color-primary-a90);
  border-color: var(--color-primary-a30);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#logout {
  font-size: 16px;
  padding: 12px 24px;
  background-color: var(--color-primary-a30);
  color: var(--color-primary-a90);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}
.delete-btn {
  font-size: 16px;
  padding: 12px 24px;
  background-color: #ff5050;
  color: var(--color-primary-a90);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}
#logout:hover {
  background-color: var(--color-primary-a50);
}
.delete-btn:hover {
  background-color: red;
}
.error {
  color: #ff4d4d;
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}
@media (width < 800px) {
  .cabinet-container {
    min-height: calc(100vh - 120px);
  }
  .cabinet-section {
    margin: 10px;
    padding: 15px;
  }
  #cabinet-section {
    max-width: 90%;
    padding: 20px;
  }
  #cabinet-section h2 {
    font-size: 24px;
  }
  #recipes-section h3, #add-recipe-section h3 {
    font-size: 20px;
  }
  #recipe-form label {
    font-size: 16px;
  }
  #recipe-form input, #recipe-form textarea {
    font-size: 14px;
    padding: 10px;
  }
  #recipe-form button, #logout, .delete-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
  .category-btn {
    font-size: 14px;
    padding: 6px 12px;
  }
  .recipe h4 {
    font-size: 16px;
  }
  .recipe p {
    font-size: 14px;
  }
}
@media (800px <= width < 1300px) {
  .cabinet-section {
    max-width: 80%;
  }
  #cabinet-section {
    max-width: 600px;
  }
}