:root {
    --color-primary-a120: #79c27c;
    --color-primary-a130: #569b58;

}
[data-theme="dark"] {  
    --color-primary-a120: #1b5e20;
    --color-primary-a130: #144718;
}

.recipe-info {
  width: 80%;
  grid-area: description;
  font-size: 14px;
  text-align: justify;
}

.recipe-info h4{
    font-size: 16px;
    text-align: center;
}
.recipe-buttons > *, .recipe-buttons2 > *{
    width: 140px;
    height: 45px;
    font-size: 16px;
    padding: 6px 10px;
    background-color: var(--color-primary-a30);
    color: var(--color-primary-a90);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0 auto;
}
/*pending*/
.recipe-buttons{
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 60px;
    grid-template-areas:
        "btn1 btn2"
        "btn3 btn3"
}

.return{
    grid-area: btn3;
    margin: 0 auto;
    margin-top: -5px;
    width: 200px;
}
.return:hover{
    background-color: var(--color-primary-a50);
}
.confirm-btn{
    color: var(--color-primary-a90);
}
.accept, .confirm-accept-btn{
    grid-area: btn2;
    background-color: var(--color-primary-a120);
    color: var(--color-primary-a90);
}
.accept:hover, .confirm-accept-btn:hover{
    background-color: var(--color-primary-a130);
}
.cancel{
    grid-area: btn1;
    background-color: var(--color-primary-a100);
}
.cancel:hover{
    background-color: var(--color-primary-a110);
}
.pending{
    background-image: url(https://i.postimg.cc/QMt5gX5D/pending.jpg);
}
.published{
    background-image: url(https://i.postimg.cc/gn1V7QF4/published.jpg);
}
.rejected{
    background-image: url(https://i.postimg.cc/T5pb7qtZ/rejected.jpg);
}

@media (min-width:1300px){
    #pendingRecipesList, #publishedRecipesList, #rejectedRecipesList {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
        margin-top: 20px;
    }
    .recipe-content {
        cursor: pointer;
        display: grid;
        place-items:center;
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px;
        grid-template-areas:
            "img description"
    }
    .recipe-image img{
        max-width: 250px;
        max-height: 150px;
    }


    
}


@media (800px <= width < 1300px){

    #pendingRecipesList, #publishedRecipesList, #rejectedRecipesList{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        margin-top: 20px;
    }
    .recipe-content {
        cursor: pointer;
        display: grid;
        place-items:center;
        grid-template-columns: 60% 40%;
        grid-template-rows: 350px;
        grid-template-areas:
            "img description"
    }
    .recipe-image img{
        max-width: 200px;
        max-height: 100px;
    }

}
@media (width < 800px){

    #pendingRecipesList, #publishedRecipesList, #rejectedRecipesList {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px;
        margin-top: 20px;
    }

    .recipe-image img{
        margin: 20px;
        max-width: 300px;
        max-height: 200px;
    }

}