:root {
    --theme-image: url('../images/functional/homeLight.png'); 
    --bg-image:url('../images/bg.jpg');  
    --bg-image-big:url('../images/bg1.jpg');
}
[data-theme="dark"] {  
    --theme-image: url('../images/functional/homeDark.png');    
    --bg-image:url('../images/bg-dark.jpg');
    --bg-image-big:url('../images/bg1-dark.jpg');  
   
}
@media (min-width:1120px){
    body{
        background-image: var(--bg-image-big);     
    }

}


@media (width < 1120px){
    body{
        background-image: var(--bg-image);     
    }
}
body{  
    background-position: center center; 
    background-repeat: no-repeat; 
    transition: background-image 0.3s;
}
.start{
    margin-bottom: -100px;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px;
    grid-template-areas:
        "header theme"
}
.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "error" 
        "main"    
}
.theme-bg {
  background-image: var(--theme-image);
  width: 40px;
  height: 40px;
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat; 
}
.header{
    margin-left: 20px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}
.theme-switcher-wrapper{
    margin-right: 0px;
}

.auth-container{
    grid-area: main;
    background-color: var(--color-primary-a40);
    border-radius: 20px;
    outline: 5px solid var(--color-primary-a30);
    min-height: 500px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 5px 15px var(--color-primary-a20);
    width: 70%;
}
.error {
    grid-area: error;
    text-align: center;
    font-size: 20px;
    color: red;
}
h2{
    text-align: center;
    color: var(--color-primary-a50);
    font-size: 30px;
}
#login-section, #register-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-section input, #register-section input{
  font-size: 16px;
  padding: 12px;
  width: 95%;
  border: 2px solid var(--color-primary-a30);
  border-radius: 10px;
  background-color: var(--color-primary-a40);
  color: var(--color-primary-a90);
}
#login-section .field, #register-section .field{
    font-size: 18px;
    color: var(--color-primary-a90);
    margin: 35px 0;
    width: 100%;
}
#login-section button, #register-section button{
    font-size: 16px;
    width: 220px;
    padding: 12px 24px;
    background-color: var(--color-primary-a30);
    color: var(--color-primary-a90);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto; /* Центрирование кнопки */
    display: block; /* Необходимо для margin auto */
    transition: background-color 0.3s;
}

#login-form, #register-form{
    width: 90%;
    margin: 0 auto;
}


#login-section button:hover, #register-section button:hover{
  background-color: var(--color-primary-a50);
}


#login-section p, #register-section p{
    font-size: 16px;
    color: var(--color-primary-a90);
}

#login-section a, #register-section a{
    color: var(--color-primary-a50);
    transition: font-size 0.3s;
}
#login-section p a:hover, #register-section p a:hover{
    font-size: 17px;
}