@media (min-width:1300px){
    .container{
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto 100px auto auto 200px;
            grid-template-areas:
                "header header"
                "navigation navigation"
                "information information" 
                "first second"
                "footer footer"         
    }
    .recipe {
        cursor: pointer;
        display: grid;
        height: 300px;
        grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            grid-template-areas:
                "img discription"
    }

    .main-text{
        background-image: url(../images/cooking.jpg);
        width: 750px;
        height: 500px;
        margin-top: 50px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 50px;
    }
    #inf {
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 30px;
        margin-top: 40px;
        text-shadow: 1px 1px 1px #000;
    }
    #head {
        text-align: center;
        color: white;
        font-size: 46px;
        text-decoration:solid;
        padding: 80px;
        margin-top: 40px;
        text-shadow: 1px 1px 1px #000;
    }
    #body {
        text-align: center;
        color: white;
        font-size: 30px;
        text-decoration:solid;
        margin-top: 20px;
        text-shadow: 1px 1px 1px #000;
    }
    .navigation {
        grid-area: navigation;
        background-color: white;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100px;
        grid-template-areas:
            "btn1 btn2 btn3"
    }
}
@media (960px <= width < 1300px){
    .container{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 100px auto auto auto 200px;
        grid-template-areas:
            "header"
            "navigation"
            "information" 
            "first"
            "second"
            "footer"         
    }
    .recipe {
        cursor: pointer;
        display: grid;
        height: 300px;
        grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            grid-template-areas:
                "img discription"
    }

    .main-text{
        background-image: url(../images/cooking.jpg);
        width: 750px;
        height: 500px;
        margin-top: 50px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 50px;
    }
    #inf {
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 30px;
        margin-top: 40px;
        text-shadow: 1px 1px 1px #000;
    }
    #head {
        text-align: center;
        color: white;
        font-size: 46px;
        text-decoration:solid;
        padding: 80px;
        margin-top: 40px;
        text-shadow: 1px 1px 1px #000;
    }
    #body {
        text-align: center;
        color: white;
        font-size: 30px;
        text-decoration:solid;
        margin-top: 20px;
        text-shadow: 1px 1px 1px #000;
    }
    .navigation {
        grid-area: navigation;
        background-color: white;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100px;
        grid-template-areas:
            "btn1 btn2 btn3"
    }

}

@media (500px <= width < 960px){
    .container{
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto auto auto 200px;
            grid-template-areas:
                "header header"
                "navigation information" 
                "first first"
                "second second"
                "footer footer"         
    }

    .recipe {
        cursor: pointer;
        display: grid;
        grid-template-columns: 50% 50%;
            grid-template-rows: 300px;
            grid-template-areas:
                "img discription"
    }
    
    #inf {
        text-align: center;
        color: black;
        font-size: 20px;
        padding: 30px;
        margin-top: 40px;
    }
    #head {
        text-align: center;
        color: black;
        font-size: 46px;
        text-decoration:solid;
        padding: 80px;
        margin-top: 40px;
        
    }
    #body {
        text-align: center;
        color: black;
        font-size: 30px;
        text-decoration:solid;
        margin-top: 20px;
        
    }
    .navigation {
        grid-area: navigation;
        background-color: white;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px 250px;
        grid-template-areas:
            "btn1"
            "btn2"
            "btn3"
    }
}
@media (width < 720px){
    .container{
            display:grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto auto 200px;
            grid-template-areas:
                "header"
                "navigation" 
                "information"
                "first"
                "second"
                "footer"         
    }

    .recipe {
        cursor: pointer;
        display: grid;
        grid-template-columns: 100%;
            grid-template-rows: auto;
            grid-template-areas:
                "img"
                "discription"
    }
    
    #inf {
        text-align: center;
        color: black;
        font-size: 20px;
        padding: 30px;
        margin-top: 40px;
    }
    #head {
        text-align: center;
        color: black;
        font-size: 46px;
        text-decoration:solid;
        padding: 80px;
        margin-top: 40px;
        
    }
    #body {
        text-align: center;
        color: black;
        font-size: 30px;
        text-decoration:solid;
        margin-top: 20px;
        
    }
    .navigation {
        grid-area: navigation;
        background-color: white;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px 250px;
        grid-template-areas:
            "btn1"
            "btn2"
            "btn3"
    }
}
body  *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.header {
    grid-area: header;
    font-size: 54px;

}
.header a{
    display: block;
    text-decoration: none;
    color: black;
}

#dropdown1 {
    grid-area: btn1;
}
#dropdown2 {
    grid-area: btn2;
}
#dropdown3 {
    grid-area: btn3;
}

.information {
    grid-area: information;
    
}

.footer{
    grid-area: footer;
    background-color:#f1eddd;
    margin-top:10px;
    border-radius: 30px;
}
.firstCol {
    grid-area: first;
}
.secondCol {
    grid-area: second;
    
}

.dropbtn {
    background-color: #e3dbbc;
    color: black;
    padding: 24px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 300px;
    border-radius: 20px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
    flex-wrap: nowrap;	
    flex-direction: row;
	flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}
  
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 200px;
    border-radius: 20px;
   
}
  
.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 20px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    font-weight: bold;
    background-color: #d5ca9c;
}

.image {
    padding: 40px;
    grid-area: img;
}
.discription {
    grid-area: discription;
    padding: 30px;
    text-align: left;
    font-size: medium;
    
}
.recipe:hover{
    outline: 3px solid #d5ca9c;
	border-radius: 20px;
	outline-offset:-2px;
	box-shadow: 5px 5px 10px 3px lightgrey;
}

#name {
    font-size: large;
    text-decoration: dashed;
}
.footer > p {
    font-size: medium;
    text-align: right;
    margin: 10px;
    padding: 10px;

}
#footer-contact {
    font-size: large;
    font-weight: bold;
}


