:root {
    --color-primary-a0: #ffffff;
    --color-primary-a10: #ffe6c7;
    --color-primary-a20: #fcce91;
    --color-primary-a30: #f4b659;
    --color-primary-a40: #ffffff;
    --color-primary-a50: #ea9e0b;
    --color-primary-a60: lightgrey;
    --color-primary-a90: #000000;
    --theme-image: url('../images/light-theme.jpg');
    --user-image: url('../images/user-light.png');

}
[data-theme="dark"] {  
    --color-primary-a0: #000000;
    --color-primary-a10: #574935;
    --color-primary-a20: #3d3223;
    --color-primary-a30: #392811;
    --color-primary-a40: #a5957f;
    --color-primary-a50: #291c0a;
    --color-primary-a60: #291c0a;
    --color-primary-a90: #ffffff;    
    --theme-image: url('../images/dark-theme.jpg');      
    --user-image: url('../images/user-dark.png');       
}

@media (min-width:1300px){
    .main-text{
        height: 400px;
    }
    .start{
        grid-area: start;
        display:grid;
        grid-template-columns: 30% 60% 10%;
        grid-template-rows: 170px 150px;
        grid-template-areas:
            "header user theme"
            "header navigation navigation"  
    }
    .container{
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 270px auto auto 200px;
            grid-template-areas:
                "start start"
                "information information" 
                "first second"
                "footer footer"         
    }
    .recipe {
        cursor: pointer;
        display: grid;
        height: 350px;
        grid-template-columns: 60% 40%;
            grid-template-rows: auto;
            grid-template-areas:
                "img discription"
    }
    
    .navigation {
        grid-area: navigation;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100px;
        grid-template-areas:
            "btn1 btn2 btn3"
    }
    .dropbtn{
        width: 300px;
    }
    .dropdown-content {
        min-width: 300px;
    } 
    .picture {
        height: 266px;
        width: 400px;
        border-radius: 20px;
    }
    .user{
        margin-right: 110px;
    }
    .dropbtn{
        font-size: 20px;
    }
    .text-toggle{
        font-size: 20px;
    }

}


@media (800px <= width < 1300px){
    .start{
        grid-area: start;
        display:grid;
        grid-template-columns: 35% 55% 10%;
        grid-template-rows: 170px 150px;
        grid-template-areas:
            "header user theme"
            "header navigation navigation"  
    }
    .navigation {
        grid-area: navigation;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100px;
        grid-template-areas:
            "btn1 btn2 btn3"
    }
    .container{
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto auto auto 200px;
            grid-template-areas:
                "start start"
                "information information" 
                "first first"
                "second second"
                "footer footer"         
    }

    .recipe {
        cursor: pointer;
        display: grid;
        grid-template-columns: 60% 40%;
            grid-template-rows: 350px;
            grid-template-areas:
                "img discription"
    }
    .dropbtn{
        width: 170px;
        height: 75px;
    }
    .dropdown-content {
        min-width: 200px;
    } 
    .picture {
        height: 266px;
        width: 400px;
        border-radius: 20px;
    }
    .user{
         margin-right: 200px;
    }
     .dropbtn{
        font-size: 16px;
    }
    .text-toggle{
        font-size: 20px;
    }

}
@media (width < 800px){
    .theme-switcher-wrapper {
        margin-right: 10px;
    }
    .start{
        grid-area: start;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px auto auto;
        grid-template-areas:
            "user theme"
            "header header"
            "navigation navigation"
    }

    .container{
            display:grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto 200px;
            grid-template-areas:
                "start"
                "information"
                "first"
                "second"
                "footer"         
    }

    .recipe {
        cursor: pointer;
        display: grid;
        grid-template-columns: 100%;
            grid-template-rows: auto;
            grid-template-areas:
                "img"
                "discription"
    }
    
    .navigation {
        grid-area: navigation;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px 250px;
        grid-template-areas:
            "btn1"
            "btn2"
            "btn3"
    }
    .dropbtn{
        width: 300px;
    }
    .dropdown-content {
        min-width: 300px;
    } 
    .picture {
        height: 200px;
        width: 300px;
        border-radius: 20px;
    }
    .dropbtn{
        font-size: 20px;
    }
    .text-toggle{
        font-size: 14px;
    }
}
.header {    
    grid-area: header;
    margin: 30px;
}
.theme-bg {
  background-image: var(--theme-image);
  width: 350px;
  height: 233px;
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat; 
}
.user{
    grid-area:user;
    margin-left: auto;
    margin-top: 20px;
    cursor: pointer;
}

.user-bg{
    background-image: var(--user-image);
    width: 50px;
    height: 50px;
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0 auto;
}
body  *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: var(--color-primary-a40);
}
.theme-switcher-wrapper {
    grid-area: theme;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.text-toggle{
  color: var(--color-primary-a30);
  text-align: center;
}
#lkout:hover {
  text-decoration: underline;
}
.title {
    grid-area:title;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: black;
}

.title {
    font-size: 45px;
    font-weight: bold;
    color:var(--color-primary-a50);
}
.header a{
    display: block;
    text-decoration: none;
    color: var(--color-primary-a90);
    cursor: pointer;
}

#dropdown1 {
    grid-area: btn1;
}
#dropdown2 {
    grid-area: btn2;
}
#dropdown3 {
    grid-area: btn3;
}

.information {
    grid-area: information;    
    text-align: center;
    width: 100%;
}

.main-text{
    background-image: url(../images/cooking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 30px;
}


#inf {
    font-size: 20px;   
}
#head {
    font-size: 46px;
    text-decoration:solid;
}
#body {
    font-size: 30px;
    text-decoration:solid;
}

.footer{
    grid-area: footer;
    color: var(--color-primary-a90);
    background-color:var(--color-primary-a30);
    margin-top:10px;
    border-radius: 30px;
    
    display: grid;
    height: 300px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "col1 col2"    
}
.col1{
    margin: 5%;
    text-align: left;
    grid-area: col1;
}
.col2 {
    margin: 5%;
    text-align: right;
    grid-area: col2;
}
.firstCol {
    grid-area: first;
}
.secondCol {
    grid-area: second;
    
}

.dropbtn{
    background-color: var(--color-primary-a30);
    color: var(--color-primary-a90);
    padding: 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
  

.dropdown {
    position: relative;
    display: inline-block;
    flex: 1;
    padding: 10px;
    text-align: center;
}

.dropdown-content {
    display: block;
    opacity: 0;
    visibility: hidden;
    background-color: var(--color-primary-a10);
    border-radius: 20px;
    font-size: medium;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%) translateY(-10px); 
    z-index: 1;
    transition: all 0.3s ease;
    margin-top: 5px; 
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); 
}

.dropdown-content a {
    color: var(--color-primary-a90);
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: var(--color-primary-a20);
    border-radius: 20px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    font-weight: bold;
    background-color: var(--color-primary-a50);
}

.image {
    padding: 40px;
    grid-area: img;
    margin: 0 auto;
}
.discription {
    grid-area: discription;
    padding: 30px;
    text-align: left;
    font-size: medium;    
}
.recipe:hover{
    outline: 3px solid var(--color-primary-a50);
	border-radius: 20px;
	outline-offset:-2px;
	box-shadow: 5px 5px 10px 3px var(--color-primary-a60);
}

.name {
    font-size: large;
    text-decoration: dashed;
    text-align: center;
}
.footer-contact > p {
    font-size: medium;
    text-align: right;
    margin: 10px;
    padding: 10px;

}
.footer-contact {
    font-size: large;
    font-weight: bold;
    color:var(--color-primary-a90)
}
.weekend {
    color: red;
}
.specialDay {
    color:#ea9e0b;
}
.first {
    grid-area: first;
    margin: auto;
}
.second {
    grid-area: second;
}
#m1 {
    font-weight: bold;
    font-size: large;
    padding: 10px;
    text-align: center;
}

table {
    font-size: x-large;
    outline: 3px solid var(--color-primary-a50);
	border-radius: 20px;
	outline-offset:-2px;
	box-shadow: 5px 5px 10px 3px var(--color-primary-a60);
    width: auto;
    padding: 20px;
    margin-left: 30px;

}
#back1, #forward1{
    background-color: var(--color-primary-a30);
    color: var(--color-primary-a90);
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 150px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}
#nameDay {
    font-size: large;
    margin: auto;
    padding: 40px;
}
#nameDay > * {
    padding: 20px;
    text-align: center;
}
#output {
    margin: auto;
}
#titleFact {
    margin: auto;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}
#fact {
    margin: auto;
    text-align: center;
    font-size: 20px;
    margin:10px;
}
#img {
    border-radius: 20px;
    outline: 15px solid var(--color-primary-a50);
    margin-bottom: 30px;
}


