.main-text{
    background-image: url(images/завтрак.jpg);
    width: 750px;
    height: 500px;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;

}
#head {
    text-align: center;
    color: white;
    font-size: 46px;
    text-decoration:solid;
    padding: 80px;
    margin-top: 40px;
    text-shadow: 1px 1px 1px #000;
}
#body {
    text-align: center;
    color: white;
    font-size: 30px;
    text-decoration:solid;
    margin-top: 20px;
    text-shadow: 1px 1px 1px black;
}
#inf {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 30px;
    margin-top: 40px;
    text-shadow: 1px 1px 1px black;
}